*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color:  hsl(218, 28%, 13%);
}
.nav{
  display: flex;
  justify-content: space-evenly;
  margin-top: 7vh;
}

.ul_nav{
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    color: white;  
}

a{
    text-decoration: none;
    color: white;
}

.ul_nav li a{
    text-decoration: none;
}

.section_one{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 8vh;
}

.p_section_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section_one p:first-child{
    font-family: 'Lato', sans-serif;
    width: 45%;
    font-size: 30px;
    color: white;
}

.section_one p:last-child{   
    width: 43%;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: 2vh;
    color: white;
}

.started{
    width: 10%;
    height: 40px;
    border-radius: 30px;
    background-color: hsl(176, 68%, 64%);
    font-family: 'Lato', sans-serif;
    color: white;
    border: 0;
    border: 1px solid gray;
    margin-top: 3vh;
    cursor: pointer;
}

.section_two{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    
}
.section_two h3{
    font-family: 'Lato', sans-serif;
    color: white;

}

.section_two p{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 1vh;
}

.div_one_two{
  width: 29%;
  padding: 10vh;

}
.div_two_two{
    width: 29%;  
    padding: 10vh;
}

.one{
    width: 100%;
    margin: 5vh;
}


.section_three{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_section_three{
    width: 30%;
    margin-left: 5vh;
    height: 100%;
    color: white;
}
.div_section_three h2{
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 50px;     
     margin: 3vh;
}

.div_section_three p:nth-child(2){
    font-family: 'Outfit', sans-serif;
    margin: 3vh;
}
.div_section_three p:nth-child(3){
    font-family: 'Outfit', sans-serif;
    margin: 3vh;
}

.works{
    margin: 3vh;
    font-family: 'Outfit', sans-serif;
    color:  hsl(176, 68%, 64%);
}

.section_four{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.perfil{
    width: 18%;
    height: 18%;
    border-radius: 100%;
}

.section_four span{
    font-size: 8px;
}

.div_four{
    width: 70%;
    height: 100%;
    display: flex;
    margin-top: 6vh;

    
}

.div_one_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 3vh;
    padding: 3vh;  
    font-family: 'Outfit', sans-serif;
    color: white;
    border-radius: 8px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 3px 3px 3px 3px hsl(221, 25%, 22%);

}

.satish{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
  
}
.satish h2{
    font-size: 16px;
}
.div_satish{
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}

.div_two_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%; 
    margin: 3vh;
    padding: 3vh;  
    font-family: 'Outfit', sans-serif;
    color: white;
    border-radius: 8px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 3px 3px 3px 3px hsl(221, 25%, 22%);

}

.bruce{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin-top: 3vh;

}
.bruce h2{
    font-size: 16px;
}
.div_bruce{
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}

.div_three_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 3vh;
    padding: 3vh;  
    font-family: 'Outfit', sans-serif;
    color: white;
    border-radius: 8px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 3px 3px 3px 3px hsl(221, 25%, 22%);
    
}

.iva{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    margin-top: 3vh;
}
.iva h2{
    font-size: 16px;
}
.div_iva{
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
}


.section_six{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px ;
}


.div_six{
    width: 50%;
    background-color: hsl(217, 28%, 15%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.div_six h4{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    margin: 1vh;
    

}
.div_six p{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    width: 85%;
    margin: 1vh;

}


.form_email{
    margin: 3vh;
    width: 100%;
}

.form_email .email{
    width: 50%;
    height: 35px;
    border-radius: 50px;
    border: 0;
  
}
.form_email .submit{
    width: 20%;
    height: 35px;
    border-radius: 50px;
    border: 0;
    background-color: hsl(176, 68%, 64%);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: rgb(46, 46, 46);
    cursor: pointer;
}



.footer{
     background-color: hsl(216, 53%, 9%);
     display: flex;
     justify-content: center;
     height: 100%;
     width: 100%;
     color: white;
     font-family: 'Outfit', sans-serif;
     
}
.footer_fylo_img{
    width: 10%;
    height: 10%;
}

.fotter_finish{
    display: flex;
    justify-content: space-evenly;
    margin-top: 18vh;
    height: 50%;
    width: 90%;
}

.location{
    width: 18%;
}

.contact_footer div{
  display: flex;
  margin: 3vh;
}

.contact_footer p{
   margin-left: 1vh;

}

.fotter_finish ul li{
   list-style: none;
   margin: 2vh;

}

.buttom-hamburger{
    display: none;
    position: absolute;
    z-index: 901;
    position: fixed;
    background: linear-gradient(rgba(229, 229, 230, 0.75), rgba(229, 229, 230, 0.75));
    width: 100%;
}

.ul_nav li:hover{ 
    background-color: rgb(226, 226, 226);
    border-radius : 30px ;
    transition: 0.5s ;
    padding: 0.5vh;
    color: black;
    cursor: pointer; 
    
}

.segurity{
    font-family: sans-serif;
    color: green;
    font-weight: 600;
    margin-top: 1vh;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    border-radius: 30px;
    background-color: rgb(196, 255, 196);
    display: none;
}

.emailEnviado{
    color: green;
    background-color:rgb(205, 255, 205);
    color: rgb(0, 94, 0);
    position: relative;
    top: 1.1vh;
    margin-top: 1vh;
    padding: 0.6vh;
    border-radius: 15px;
    display: none;
    width: 50%;
}

.div_email {
    display: flex;
    justify-content: center;
    align-items: center;
}


.emailError{
    background-color:rgb(250, 176, 171);
    color: rgb(0, 0, 0);
    position: relative;
    top: 1.1vh;
    margin-top: 1vh;
    padding: 0.6vh;
    border-radius: 15px;
    width: 60%;
    font-family: sans-serif;
    font-size: 15px;
    display: none;
}

.verificar{
    display: none;
    margin-top: 1vh;
    font-family: sans-serif;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: gray;
    color: black;
    padding: 1vh;
}





@media screen and (max-width : 900px) {
    .logo{
        display: none;
    }

    .nav{
        padding: 0;
        margin: 0;
    }

    .ul_nav{
        width: 100%;
        min-height: 100vh;
        height: 100%;
        transform: translate(0,-120%);
        transition: transform 1.5s ease;
        z-index: 500;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
        
    }


    .ul_nav.is-active{
        transform: translate(0,0);
        transition: transform 1s ease;
        display: flex;
    }

    .ul_nav a li {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;  
    }

    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        width: 80%;
        border-radius: 30px;
        height: 10%;
        background: linear-gradient(rgba(197, 197, 196, 0.5), rgba(197, 197, 196, 0.5));
    }


    ul.ul_nav.is-active li:active{
        background: linear-gradient(rgba(248, 194, 57, 0.5), rgba(248, 194, 57, 0.5));
     }

    .ul_nav.esconderNav{
        transform: translate(0px, -120%);
        transition: transform 1.5s ease ;
    }

 
    
     

    .main{
        width: 100%;
    }

    .picture_intro{
        width: 90%;
    }


    .p_section_one{
        width: 100%;
        margin-top: 7vh;
    }
    .p_section_one p:first-child{
         color: rgb(202, 202, 202);
         width: 90%;
    }
    .p_section_one p:last-child{
        color: rgb(255, 255, 255);
        width: 90%;
   }

   .started{
       width: 90%;
   }
   .section_two{
    display: flex ;
    flex-direction: column;
    width: 100%;

   }

   .div_one_two{
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin: 0;
       padding: 0;
   }
   .div_two_two{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
   }
   .one{
    width: 90%;
    margin: 5vh;
    padding: 0;
}

.section_three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ilustration{
    width: 90%;
}

.div_section_three{

    width: 100%;
}

.section_four{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_four{
  display: flex;
  flex-direction: column;
}


.div_six{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
}

.section_six{
  height: 100%;
}

.form_email{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_email .email{
   width: 75%;
   margin: 1vh;
   
  
}
.form_email .submit{
   width: 40%;
   font-size: 14px;
   
}
.quotes{
    margin-right: 30vh;
}



.fotter_finish{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fotter_finish div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_fylo_img{
    position: absolute;
    margin-top: 11vh;
    width: 35%;
    height: 5%;
}
   

.buttom-hamburger{
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.segurity{
    font-size: 13px;
    display: flex;
    text-align: center;
    width: 90%;
    display: none;
}

.div_email{
    width: 100%;
}

.links a{
    border: 0;
}


.fotter_finish .links a{
background-color: red;
border-radius: 5px;
margin: 1vh;
background-color: gray;
}

a{
    z-index: 1100;
}

}